# Repos and stuff for testing
output
chariz
packix
Packages
Packages.*
Release

# I do not want my token showed to the whole world ok
auth*

# 7zip
7za.*
7zxa.*

# aria2 stuff
aria2.txt

# old dead code
main.py

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode

# Created by https://www.toptal.com/developers/gitignore/api/powershell
# Edit at https://www.toptal.com/developers/gitignore?templates=powershell

### PowerShell ###
# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll

# Include settings for PSScriptAnalyzer
!.vscode/PSScriptAnalyzerSettings.psd1
# End of https://www.toptal.com/developers/gitignore/api/powershell
