# Repos and stuff for testing
output
chariz
packix
Packages
Packages.* 

# I do not want my token showed to the whole world ok
auth*

# 7zip
7za.*
7zxa.*

# aria2 stuff
aria2.txt

# old dead code
main.py
